/*
 * Basic Stylesheet file.
 */
.BasicClass {
  -fx-background-color: whitesmoke;
}

.TextHeader {
  -fx-font-size: 14pt;
  -fx-background-color: beige;
  -fx-font-family: monospace;
}

.TextBody {
  -fx-font-size: 12pt;
  -fx-background-color: beige;
  -fx-font-family: monospace;
}

#inputArea {
  -fx-font-size: 14pt;
  -fx-background-color: beige;
}